/* General adjustments to the .theoplayer-texttracks container to ensure correct stacking and layering */
.theoplayer-texttracks {
    z-index: 6 !important; /* Ensure our subtitles are on top. Use !important if needed to override existing styles */
}

/**
 * to turn the subtitles off completely, add "hide-ro" to the body tag.
 */
.hide-r0 [class^="theoplayer-ttml-texttrack"] #r0 {
    display: none !important;
}

/* Ensure the line height is inherited to respect the line breaks */
p {
    line-height: inherit !important;
}

/* Style for the subtitles line breaks */
br {
    display: block;
    margin-bottom: 0.5em; /* Adjust space between lines */
}

#dual-subtitles-container {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 5%; /* Adjust this value to fine-tune vertical placement */
    box-sizing: border-box;
}

/* Styles for the dual subtitle container */
.theoplayer-ttml-texttrack-Dual {
    width: 100%;
    text-align: center;
    pointer-events: none; /* Prevent subtitles from interfering with video controls */
    box-sizing: border-box;
}

/* Styles for each language container */
#english {
    background-color: rgba(0, 0, 0, 0.40); /* Light blue background */
    margin: 0.25em 0;
}

#danish {
    background-color: rgba(0, 0, 0, 0.40); /* Light blue background */
    margin: 0.25em 0;
}

/* Style for the text inside the subtitles */
/*#english span,*/
/*#danish span {*/
/*    color: rgb(255, 255, 255);*/
/*    background-color: rgba(0, 0, 0, 0.25);*/
/*    padding: 0.25em 0.5em;*/
/*    border-radius: 0.2em;*/
/*    box-decoration-break: clone;*/
/*    line-height: normal !important;*/
/*}*/

#english span,
#danish span {
    color: rgb(255, 255, 255);
    background-color: transparent; /* Remove individual span backgrounds */
    padding: 0; /* Remove padding from individual spans */
    border-radius: 0; /* Remove border-radius from individual spans */
    box-decoration-break: clone;
    line-height: normal !important;
}
